.top-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content:space-between;
}

.links {
    display: flex;
    gap: 16px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Overview */

.overview {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image {
    border: solid black;
    height: 200px;
    width: 400px;
}



